<h1 style="color:green; font-family:courier;">New Entry</h1>

<%= form_with model: @entry do |form|%>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
        <% @entry.errors.full_messages_for(:title).each do |message|%>
        <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
        <% @entry.errors.full_messages_for(:body).each do |message|%>
        <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>

    <% end %>